<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--#========================================securityManager是shiro核心部分=====================================-->

    <!-- 凭证匹配器（用户登录权限认证：密码采用md5加密） -->
    <bean id="userRealm" class="com.yyx.zbhr.www.shiro.ShiroDbRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
                <!--true means hex encoded, false means base64 encoded -->
                <property name="storedCredentialsHexEncoded" value="true"/>
                <!-- 迭代次数 -->
                <property name="hashIterations" value="2" />
            </bean>
        </property>
    </bean>

    <!-- 重写shiro的会话dao -->
    <bean id="sessionDAO" class="com.yyx.zbhr.www.shiro.RedisSessionDao"></bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 定时检查失效的session：true是定时检查，false为不检查-->
        <property name="sessionValidationSchedulerEnabled" value="false" />
        <property name="sessionDAO" ref="sessionDAO" />
        <!-- 设置回话超时：30分钟 -->
        <property name="globalSessionTimeout" value="3600000" />
    </bean>

    <!-- securityManager安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 使用公用的redis来进行缓冲 -->
        <property name="sessionManager" ref="sessionManager" />
        <!-- 引入凭证匹配器 -->
        <property name="realm" ref="userRealm" />
    </bean>

    <!-- shiro过滤器 start -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login" />
        <property name="successUrl" value="/index" />
        <property name="unauthorizedUrl" value="/login" />
        <!-- 过滤器链，请求url对应的过滤器 -->
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /logout = logout
                /sys/org/** = authc
                /role/** = authc
                /user/** = authc
                /dept/** = authc
                /manager/** = authc
                /recharge/** = authc
                /member/account/** = authc
                /assess/** = authc
                /staff/** = authc
                /assessType/** = authc
                /cadres/** = authc
                /personfile/** = authc
                /system/** = authc
                /version/** = authc
                /trainManager/** = authc
                /trainFile/** = authc
                /monitoring/** = authc
                /authority/** = authc
                /contract/** = authc
                /job/** = authc
                /payment/** = authc
                /license/** = authc
                /edubg/** = authc
                /relationship/** = authc
            </value>
        </property>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>