<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
   
       <!--hessian年假请假url-->
       <bean id="yearVacationService"  
              class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
              <property name="serviceUrl"  
                     value="http://192.168.1.190:8780/yyx-hroa-web/hessian/yearVacationService" />  
              <property name="serviceInterface" value="com.yyx.zbhr.service.YearVacationService" />  
       </bean>  
       
       <!--hessian出差url-->
       <bean id="evectionService"  
              class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
              <property name="serviceUrl"  
                     value="http://192.168.1.190:8780/yyx-hroa-web/hessian/evectionService" />  
              <property name="serviceInterface" value="com.yyx.zbhr.service.EvectionService" />  
       </bean> 
       
       <!--hessian考勤列表url-->
       <bean id="cardService"  
              class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
              <property name="serviceUrl"  
                     value="http://localhost:8012/CardService" />  
              <property name="serviceInterface" value="com.yyx.zbhr.controller.CardService" />  
       </bean> 
       
       <!--hessian考勤员工表url-->
      <bean id="employeeService"  
              class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
              <property name="serviceUrl"  
                     value="http://localhost:8012/EmployeeService" />  
              <property name="serviceInterface" value="com.yyx.zbhr.controller.EmployeeService" />  
       </bean>
</beans>  